<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="mailto:subhiksha1210@gmail.com"
        role="button"
        ><i class="fab fa-google"></i
      ></a>


      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/subhiksha-k-74282b216?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/SubhikshaK1/"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Register Number:
    <a class="text-body" href="https://subhiksha_k_am_sc_p2mca23037.com/">SUBHIKSHA K AM.SC.P2MCA23037</a>
  </div>
</footer>